:plain
  ---
  layout: default
  ---

.grid_3

  #subnavigation
    .title About Us
    %ul
      %li
        %a{ :href => '/about/overview.html' } Overview
      %li
        %a{ :href => '/about/innovation.html' } Innovation
      %li
        %a{ :href => '/about/team.html' } Team
      %li
        %a{ :href => '/about/partners.html' } Partners
      %li
        %a{ :href => '/about/news.html' } News and Media

.grid_9

  :plain
    {{ content }}
