:plain
  ---
  layout: default
  ---

#subnavigation
  %a{ :href => '/about_us/overview.html' } Overview
  %a{ :href => '/about_us/innovation.html' } Innovation
  %a{ :href => '/about_us/team.html' } Team
  %a{ :href => '/about_us/partners.html' } Partners
  %a{ :href => '/about_us/news.html' } News and Media

:plain
  {{ content }}
