!!!

%html
  %head
    %title ICS
    %link{ :href => "/css/reset.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/960.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/ics.css", :rel => "stylesheet", :type => "text/css" }
  %body
    
    .container_12

      .grid_12

        #navigation
          %ul
            %li
              %a{ :href => '/about/overview.html' } About Us
            %li
              %a{ :href => '/disbursements/' } Disbursements
            %li
              %a{ :href => '/compensation/' } Compensation
            %li
              %a{ :href => '/promotions/' } Promotions
            %li
              %a{ :href => '/case_studies/' } Case Studies
            %li
              %a{ :href => '/contact/' } Contact Us

      :plain
        {{ content }}
