!!!

%html
  %head
    %title ICS
    %link{ :href => "/css/reset.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/960.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/ics.css", :rel => "stylesheet", :type => "text/css" }
  %body
    
    .container_12

      .grid_12

        #navigation
          %ul
            %li
              %a{ :href => '/about/overview.html' } About Us
            %li
              %a{ :href => '/disbursements/claims.html' } Disbursements
            %li
              %a{ :href => '/compensation/payroll.html' } Compensation
            %li
              %a{ :href => '/promotions/gift_cards.html' } Promotions
            %li
              %a{ :href => '/case_studies/fmu.html' } Case Studies
            %li
              %a{ :href => '/contact.html' } Contact Us

      :plain
        {{ content }}

      #footer
        Footer
