---
layout: default
---

.grid_12

  #banners
    #images
      .banner
        %a{ :href => '/case_studies/mays.html' }
          %img{ :src => "images/banners/mays.png" }
      .banner
        %a{ :href => '/case_studies/trine.html' }
          %img{ :src => "images/banners/trine.png" }
      .banner
        %a{ :href => '/case_studies/avon.html' }
          %img{ :src => "images/banners/avon.png" }
      .banner
        %a{ :href => '/case_studies/fmu.html' }
          %img{ :src => "images/banners/fmu.png" }
    #dots
      .dot
      .dot
      .dot
      .dot

    .clear

#columns

  .grid_4
    .column
      .border
      .title News Update
      .subtitle
        CincyTech invests in financial services firm
      %p
        Innovative Card Solutions provides prepaid MasterCard cards as well as
        financial literacy education.
        %a{ :href => "/about/news.html" }
          &gt;&gt;&gt;
  .grid_4
    .column
      .border
      .title Coming Soon<sup>*</sup>
      .subtitle
        50,000 loading stations
      %a{ :href => "https://www.moneypak.com/", :target => "_blank"}
        %img{ :src => "/images/greendot.png" }
      %p
        ICS now offers reload services nationwide at approximately 50,000
        retail stores.
      %p.footnote
        * Pending approval and contract execution.
  .grid_4
    .column
      .title Upcoming Event
      .subtitle
        ICS to facilitate financial literacy sessions
      %a{ :href => "http://www.uncf.org/", :target => "_blank" }
        %img{ :src => "/images/uncf.png" }
      %p
        Innovative Card Solutions will provide financial literacy education
        seminars to 40 member UNCF colleges.
