---
layout: disbursements
---

%h1 Helping federal and state governments distribute benefits.

%p
  Federal and state governments can distribute benefits (e.g., child support,
  unemployment insurance, TANIF) using our prepaid card rather than issuing a
  paper check.

%p
  Funds are immediately available&mbash;eliminates the need to cash a check,
  access to many merchant locations, bill paying capabilities, funds segregated
  for easy accountability.
