---
layout: disbursements
---

%h1 Streamline delivery of university payments.

%p
  ICS provides colleges and universities a convenient way for students to
  manage their money and receive tuition refund disbursements.

%p
  Additionally, our college prepaid card programs are fully integrated with
  online financial literacy education and money management tools that enable
  students with the fundamentals of managing money, setting budgets, and
  motivating behavior modification to make responsible financial choices as
  they transition through college.
