---
layout: default
---

.grid_3

  #subnavigation
    .title News and Media

.grid_9

  #content

    #banners
      .images
        .banner{ :style => "background-color: red" } 1
        .banner{ :style => "background-color: green" } 2
        .banner{ :style => "background-color: blue" } 3
        .banner{ :style => "background-color: gray" } 4
      .links
        .link 1
        .link 2
        .link 3
        .link 4
