---
layout: default
---

#contact

  .grid_12

    %h1 Cardholder Inquiries

    %p
      :erb
        Have a question about your account? Go to the website listed on the back
        of your card to check your current balance or transaction history. Or you
        may contact a Customer Service Representative directly at
        <a href="mailto:cardservices@weareics.com">cardservices@weareics.com</a>
        for a response within 24 hours.

    %h1 Sales Inquiries

    %p
      :erb
        If you are a business looking to implement a prepaid card solution,
        please contact us at
        <a href="mailto:sales@weareics.com">sales@weareics.com</a>.

    %h1 Locations

  .grid_3
    .location
      .name Cincinnati
      :erb
        11820 Kempersprings Drive<br />
        Suite 103<br />
        Cincinnati, OH 45240<br />

  .grid_3.prefix_2.suffix_4
    .location
      .name Chicago
      :erb
        22 W. Washington St.<br />
        Suite 1500<br />
        Chicago, IL 60602<br />
