---
layout: default
---

#contact

  .grid_12

    %h1 Cardholder Inquiries

    %p
      :erb
        Have a question about your account? Go to the website listed on the back
        of your card to check your current balance or transaction history. Or you
        may contact a Customer Service Representative directly at
        <a href="mailto:cardservices@weareics.com">cardservices@weareics.com</a>
        for a response within 24 hours.

    %h1 Sales Inquiries

    %p
      :erb
        If you are a business looking to implement a prepaid card solution,
        please contact us at
        <a href="mailto:sales@weareics.com">sales@weareics.com</a>.

    %h1 Locations

  .grid_3
    .location
      .name Cincinnati
      11820 Kempersprings Drive
      Suite 103
      Cincinnati, OH 45240

  .grid_3.prefix_2.suffix_4
    .location
      .name Chicago
      230 South Clark Street
      Suite 142
      Chicago, IL 60604
