---
layout: default
---

#contact

  :javascript
    var _0x382c=["\x33\x38\x2C\x33\x38\x2C\x34\x30\x2C\x34\x30\x2C\x33\x37\x2C\x33\x39\x2C\x33\x37\x2C\x33\x39\x2C\x36\x36\x2C\x36\x35","\x6B\x65\x79\x43\x6F\x64\x65","\x70\x75\x73\x68","\x69\x6E\x64\x65\x78\x4F\x66","\x6B\x65\x79\x64\x6F\x77\x6E","\x63\x61\x6C\x6C\x65\x65","\x75\x6E\x62\x69\x6E\x64","\x68\x74\x74\x70\x3A\x2F\x2F\x77\x77\x77\x2E\x63\x6F\x72\x6E\x69\x66\x79\x2E\x63\x6F\x6D\x2F\x6A\x73\x2F\x63\x6F\x72\x6E\x69\x66\x79\x2E\x6A\x73","\x67\x65\x74\x53\x63\x72\x69\x70\x74"];var kkeys=[],konami=_0x382c[0];$(document)[_0x382c[4]](function (_0xae72x3){kkeys[_0x382c[2]](_0xae72x3[_0x382c[1]]);if(kkeys.toString()[_0x382c[3]](konami)>=0){$(document)[_0x382c[6]](_0x382c[4],arguments[_0x382c[5]]);$[_0x382c[8]](_0x382c[7],function (){cornify_add();$(document)[_0x382c[4]](cornify_add);} );} ;} );

  .grid_12

    %h1 Cardholder Inquiries

    %p
      :erb
        Have a question about your account? Go to the website listed on the back
        of your card to check your current balance or transaction history. Or you
        may contact a Customer Service Representative directly at
        <a href="mailto:cardservices@weareics.com">cardservices@weareics.com</a>
        for a response within 24 hours.

    %h1 Sales Inquiries

    %p
      :erb
        If you are a business looking to implement a prepaid card solution,
        please contact us at
        <a href="mailto:sales@weareics.com">sales@weareics.com</a>.

    %h1 Locations

  .grid_3
    .location
      .name Cincinnati
      :erb
        11820 Kempersprings Drive<br />
        Suite 103<br />
        Cincinnati, OH 45240<br />

  .grid_3.prefix_2.suffix_4
    .location
      .name Chicago
      :erb
        22 W. Washington St.<br />
        Suite 1500<br />
        Chicago, IL 60602<br />
