---
layout: default
---

.grid_3

  #subnavigation
    .title News and Media

.grid_9

  #content

    #banners
      .images
        .banner
          %a{ :href => '/case_studies/fmu.html' }
            %img{ :src => "images/banners/fmu.png" }
        .banner
          %a{ :href => '/case_studies/avon.html' }
            %img{ :src => "images/banners/avon.png" }
        .banner
          %a{ :href => '/case_studies/trine.html' }
            %img{ :src => "images/banners/trine.png" }
        .banner
          %a{ :href => '/case_studies/mays.html' }
            %img{ :src => "images/banners/mays.png" }
      .links
        .link 1
        .link 2
        .link 3
        .link 4
