---
layout: home
---

#banners
  .top
    .banner
      %a{ :href => '/case_studies/fmu.html' }
        %img{ :src => "images/banners/fmu.png" }
    .banner
      %a{ :href => '/case_studies/avon.html' }
        %img{ :src => "images/banners/avon.png" }
    .banner
      %a{ :href => '/case_studies/trine.html' }
        %img{ :src => "images/banners/trine.png" }
    .banner
      %a{ :href => '/case_studies/mays.html' }
        %img{ :src => "images/banners/mays.png" }
  .links
    %a{ :href => 'javascript:void(0)' } 1
    %a{ :href => 'javascript:void(0)' } 2
    %a{ :href => 'javascript:void(0)' } 3
    %a{ :href => 'javascript:void(0)' } 4

  .clear

%p
  Innovative Card Solutions ("ICS") powers the development and delivery of
  unique prepaid card programs and technology platform, which are at the
  forefront of the electronic payments market evolution, that teaches financial
  literacy, reduce cost, drive efficiencies and enhance brand awareness.
