---
layout: home
---

#banners
  #images
    .banner
      %a{ :href => '/case_studies/fmu.html' }
        %img{ :src => "images/banners/fmu.png" }
    .banner
      %a{ :href => '/case_studies/avon.html' }
        %img{ :src => "images/banners/avon.png" }
    .banner
      %a{ :href => '/case_studies/trine.html' }
        %img{ :src => "images/banners/trine.png" }
    .banner
      %a{ :href => '/case_studies/mays.html' }
        %img{ :src => "images/banners/mays.png" }
  #dots
    .dot
    .dot
    .dot
    .dot

  .clear

%p
  Innovative Card Solutions (ICS) powers the development of various and unique
  prepaid card solutions, where we strive towards being at the forefront in the
  electronic payments evolution while promoting financial literacy, cost
  reduction in defining and driving efficiencies, and enhancing client brand
  awareness.
