---
layout: default
---

.grid_3

  #subnavigation
    .title News and Media

.grid_9

  #content

    #banners
      .images
        .banner
          %img{ :src => "images/banners/fmu.png" }
        .banner
          %img{ :src => "images/banners/avon.png" }
        .banner
          %img{ :src => "images/banners/trine.png" }
        .banner
          %img{ :src => "images/banners/mays.png" }
      .links
        .link 1
        .link 2
        .link 3
        .link 4
