---
layout: compensation
---

%h1 Cost-effective payroll solution.

%p
  ICS helps companies whose employees don't use or have bank accounts by
  allowing employees to receive their pay directly on payroll cards, without
  the traditional overhead costs of issuing checks.

%p
  We provide employees with an easy-to-use alternative to traditional banking
  and check-cashing services &mdash; without the worry of going into debt,
  overdrawing an account, or incurring costly fees.

%p
  Also, our payroll card programs are fully integrated with online financial
  literacy education and money management tools that help employees manage
  their money more effectively.
