---
layout: compensation
---

%h1 Cost-effective payroll solution.

%p
  ICS helps companies whose employees do not use or have bank accounts by
  allowing employees to receive compensation directly onto our payroll cards,
  without the traditional overhead costs of issuing checks.

%p
  We provide employees with an easy-to-use alternative experience to
  traditional banking and check-cashing services&mdash;without the worry of
  going into debt, overdrawing an account, or incurring costly fees.

%p
  The payroll card program is fully integrated with our online financial
  literacy education and money management tools that help employees manage
  their money more effectively.
