---
layout: compensation
---

%h1 Go Paperless.

%p
  While prepaid cards are a great solution for employees without traditional
  banking, this unique solution ICS offers with our prepaid card programs also
  allows employers to "go paperless" while managing the company's expense
  reimbursement accounts.
