:plain
  ---
  layout: default
  ---

.grid_3

  #subnavigation
    #border

    %ul
      %li
        %a{ :href => '/about/overview.html' } Overview
      %li
        %a{ :href => '/about/innovation.html' } Innovation
      %li
        %a{ :href => '/about/team.html' } Leadership Team
      %li
        %a{ :href => '/about/advisory_board.html' } Advisory Board
      %li
        %a{ :href => '/about/partners.html' } Partners
      %li
        %a{ :href => '/about/news.html' } News &amp; Media
      %li
        %a{ :href => '/about/careers.html' } Careers

.grid_9

  #content

    :plain
      {{ content }}
