:plain
  ---
  layout: default
  ---

.grid_3

  #subnavigation
    #border
    %ul
      %li
        %a{ :href => '/disbursements/claims.html' } Claims
      %li
        %a{ :href => '/disbursements/higher_education.html' } Higher Education
      %li
        %a{ :href => '/disbursements/government_benefits.html' } Government Benefits

.grid_9

  #content

    :plain
      {{ content }}

    %p
      :erb
        For more information on our disbursement card programs please
        <a href="mailto:sales@weareics.com">Contact Us</a>.
