---
layout: case_studies
---

%h1 The Challenge

%p
  Trine University was looking for a program that would allow them to
  streamline their tuition refund payment processes with fewer administrative
  resources and to ultimately reduce the costs required to manage and
  distribute paper checks.

%img{ :src => "/images/case_studies/trine.png" }

%h1 The Solution

%p
  ICS rapidly implemented a comprehensive, custom solution that quickly
  eliminated paper checks and transitioned 100% of the school's tuition-refund
  payments to electronic delivery loaded directly to Trine University Prepaid
  MasterCard&reg;.


%h1 The Result

%p
  ICS helped Trine University to eliminate costs associated with processing and
  distributing checks and made its internal operations more streamlined and
  efficient, while giving students a faster delivery of tuition refund
  disbursements.
