---
layout: about
---

#partners

  %h1 Strategic partners. Global leaders.

  %p
    Innovative Card Solutions has formed partnerships with some of the most
    exciting technology companies in the electronic payments industry to provide
    card management, processing and customer support for our unique suite of
    prepaid card programs.


  %img{ :src => "/images/partners/mastercard.png" }

  %h2 Mastercard International, Incorporated

  %p
    MasterCard Worldwide advances global commerce by providing a critical
    economic link among financial institutions, businesses, cardholders and
    merchants worldwide. As a franchisor, processor and advisor, MasterCard
    develops and markets payment solutions, processes more than 18 billion
    transactions each year and provides industry-leading analysis and consulting
    services to financial institution customers and merchants. Through its family
    of brands, including MasterCard&reg; Maestro&reg; and Cirrus&reg; MasterCard
    serves consumers and businesses in more than 210 countries and territories.


  %img{ :src => "/images/partners/fis.png" }

  %h2 Fidelity Information Services (FIS)

  %p
    FIS delivers banking and payments technologies to more than 14,000 financial
    institutions and businesses in more than 90 countries worldwide. FIS provides
    financial institution core processing and card issuer and transaction
    processing services, including the NYCE Network. FIS maintains processing and
    technology relationships with 40 of the top 50 global banks, including nine
    of the top 10. Headquartered in Jacksonville, Fla., FIS employs approximately
    30,000 on a global basis.


  %img{ :src => "/images/partners/sutton.png" }

  %h2 Sutton Bank

  %p
    Founded in 1878, Sutton Bank provides banking and financial services and
    products through its three lines of business: commercial, retail and wealth
    management. Through long-standing relationships with the MasterCard, Visa,
    and Discover card associations, leading program managers and processors,
    Sutton Bank designs innovative and flexible prepaid card programs which
    deliver outstanding results.

  %img{ :src => "/images/partners/cincytech.png" }

  %h2 CincyTech

  %p
    CincyTech is a public-private venture development organization that invests
    in startup businesses in high-tech industries in Southwest Ohio. With
    substantial support from Ohio Third Frontier and corporations, foundations,
    civic organizations and individuals here, it is stimulating the growth of
    venture-worthy companies in information technology, bioscience and advanced
    manufacturing.
