body
  background-image: url(/images/background.png)
  background-repeat: repeat-x
  background-color: #0e4ca3
  font-family: sans-serif
  color: gray

  .container_12
    background: white

#header
  height: 150px
  background: url(/images/header_bg.png) no-repeat scroll 400px 0

  #logo
    margin-top: 40px

  #tagline
    margin-top: 66px
    float: right

#navigation, #subnavigation
  ul
    list-style-type: none

  a
    text-decoration: none
    color: gray

    &.selected
      color: black

#navigation
  padding: 1em 0
  border-bottom: 2px solid gray

  li
    display: inline
    margin-right: 1em
    text-transform: uppercase

#subnavigation
  margin-top: 1em
  height: 300px
  border-right: 2px solid gray

  .title
    text-transform: uppercase

  ul
    margin-left: 1em

    li
      margin-top: 1em

#content
  margin-top: 1em

#footer
  margin-top: 0.5em
  margin-bottom: 0.5em
  padding-top: 1em
  border-top: 2px solid gray

  #logos
    a
      display: block
      float: left
      margin-right: 2em

      &.ct
        width: 142px
        height: 60px
        background-image: url(/images/ct_off.png)
        &:hover
          background-image: url(/images/ct_on.png)

      &.uncf
        width: 97px
        height: 60px
        background-image: url(/images/uncf_off.png)
        &:hover
          background-image: url(/images/uncf_on.png)

      &.pci
        width: 205px
        height: 61px
        background-image: url(/images/pci_off.png)
        &:hover
          background-image: url(/images/pci_on.png)

  #copyright
    padding: 1em
    text-align: center
