body
  background: #ddf

.container_12
  font-family: sans-serif
  background: white

#navigation
  ul
    list-style-type: none

    li
      display: inline
      margin-right: 1em

#subnavigation
  ul
    list-style-type: none
