body
  height: 100%
  background: #ddf
  font-family: sans-serif

  .container_12
    position: relative
    height: 100%
    background: white

    #footer
      position: absolute
      bottom: 0

#header
  height: 150px
  background: url("/images/header_bg.png") no-repeat scroll 400px 0

#navigation, #subnavigation
  ul
    list-style-type: none

  a
    text-decoration: none
    color: gray

    &.selected
      color: black

#navigation
  padding: 1em 0
  border-bottom: 2px solid gray

  li
    display: inline
    margin-right: 1em
    text-transform: uppercase

#subnavigation
  margin-top: 1em
  height: 300px
  border-right: 2px solid gray

  .title
    text-transform: uppercase

  ul
    margin-left: 1em

    li
      margin-top: 1em

#content
  margin-top: 1em
