body {
  color: #999999;
  font-family: sans-serif;
  font-size: 12pt; }

h1, h2 {
  color: #0a4193;
  font-weight: normal;
  margin-bottom: 12pt; }

h1 {
  font-size: 16pt; }

h2 {
  font-size: 14pt; }

p {
  margin-bottom: 20pt;
  color: #999999;
  line-height: 20pt; }

a {
  color: #0a4193; }

#header {
  margin-top: 25px; }
  #header #logo {
    padding: 20px;
    border-right: 1px solid #bbbbbb; }
  #header #tagline {
    font-size: 14pt;
    margin-top: 45px;
    margin-left: 20px; }

#navigation li, #subnavigation li {
  list-style-type: none; }
#navigation a, #subnavigation a {
  text-decoration: none;
  color: #bbbbbb; }
  #navigation a.selected, #subnavigation a.selected {
    color: #0a4193; }

#navigation {
  margin-top: 15px;
  margin-bottom: 40px;
  border-top: 1px solid #bbbbbb;
  padding-top: 15px;
  font-size: 11pt; }
  #navigation li {
    display: inline;
    margin-right: 30px; }
  #navigation a {
    text-transform: uppercase; }

#subnavigation li {
  margin-bottom: 20px; }

#banners {
  margin-bottom: 20px; }
  #banners #images {
    width: 700px;
    height: 206px; }
    #banners #images .banner {
      display: none; }
  #banners #dots {
    float: right;
    padding-top: 5px; }
    #banners #dots .dot {
      float: left;
      margin-left: 5px;
      width: 16px;
      height: 16px;
      background: url(/images/banners/dots/off.png); }
      #banners #dots .dot.selected {
        background: url(/images/banners/dots/on.png); }

#copyright {
  text-align: center;
  margin-top: 30px;
  font-size: 9pt; }
