
/* classes */

a:link { text-decoration: none; color: #1E8EB2 }
a:visited { text-decoration: none; color: #1E8EB2 }
a:active { text-decoration: none; color: #1E8EB2  }
a:hover      { text-decoration: underline; color: #1E8EB2 }
a.bodytextheader  { text-decoration: bold; color: #2d6296 }
a.bodytext  { text-decoration: none; color: #2d6296 }
a.bodytext:link { text-decoration: none; color: #2d6296 }
a.bodytext:visited { text-decoration: none; color: #2d6296 }
a.bodytext:active { text-decoration: none; color: #2d6296 }
a.bodytext:hover { text-decoration: underline; color: #2d6296 }
a.keyword:hover  { text-decoration: none; color: #666666 }
a.keyword:link { text-decoration: none; color: #666666; border-bottom: thin dashed; border-color: #009EEB; }
a.pressbox  { text-decoration: none; color: #666666 }
a.pressbox:link { text-decoration: none; color: #666666 }
a.pressbox:visited { text-decoration: none; color: #666666 }
a.pressbox:active { text-decoration: none; color: #666666 }
a.pressbox:hover { text-decoration: underline; color: #2d6296 }
a.prodbox  { text-decoration: none; color: #333333 }
a.prodbox:link { text-decoration: none; color: #12405A }
a.prodbox:visited { text-decoration: none; color: #12405A }
a.prodbox:active { text-decoration: none; color: #12405A }
a.prodbox:hover { text-decoration: underline; color: #12405A }
a.subnav  { text-decoration: none; color: #666666 }
a.subnav:link { text-decoration: none; color: #666666 }
a.subnav:visited { text-decoration: none; color: #666666 }
a.subnav:active { text-decoration: none; color: #666666 }
a.subnav:hover { text-decoration: underline; color: #5C8399 }
a.infocus  { text-decoration: none; color: #666666 }
a.infocus:link { text-decoration: none; color: #666666 }
a.infocus:visited { text-decoration: none; color: #666666 }
a.infocus:active { text-decoration: none; color: #666666 }
a.infocus:hover { text-decoration: underline; color: #EC7728 }