---
layout: disbursements
---

%h1 Helping federal and state governments distribute benefits.

%p
  Federal and state governments can distribute benefits (e.g., child support,
  unemployment insurance, TANIF) using an ICS prepaid card rather than a check. 

%p
  Funds are immediately available. There are no checks to cash, the cards are
  usable at many merchant locations and have bill-paying capabilities and they
  keep funds segregated for easy accountability.
