---
layout: case_studies
---

%h1 The Challenge

%p
  Mays Chemical was in need of a reliable, cost-effective solution to help
  their employees, who don't have or use a traditional bank accounts receive
  direct payroll deposit. The company was also looking to decrease their costs
  related to the production, distribution and management of paper paychecks to
  these employees.

%img{ :src => "/images/case_studies/mays.png" }

%h1 The Solution

%p
  ICS worked with Mays Chemical to create a customized payroll solution that
  provides direct deposit of all employee payrolls onto their personal cards.
  By changing payroll payments from paper checks to reloadable prepaid cards,
  Mays Chemical has the ability to instantly deposit funds to 100 percent of
  its employee base, even to those who do not have bank accounts.
  
%h1 The Result

%p
  The Result With the Mays Payroll Card, now all pay is delivered 100 percent
  electronically either by payroll cards or direct deposit.
