---
layout: default
---
<div class='grid_3'>
  <div id='subnavigation'>
    <div id='border'></div>
    <ul>
      <li>
        <a href='/about/overview.html'>Overview</a>
      </li>
      <li>
        <a href='/about/innovation.html'>Innovation</a>
      </li>
      <li>
        <a href='/about/team.html'>Leadership Team</a>
      </li>
      <li>
        <a href='/about/advisory_board.html'>Advisory Board</a>
      </li>
      <li>
        <a href='/about/partners.html'>Partners</a>
      </li>
      <li>
        <a href='/about/news.html'>News &amp; Media</a>
      </li>
      <li>
        <a href='/about/careers.html'>Careers</a>
      </li>
    </ul>
  </div>
</div>
<div class='grid_9'>
  <div id='content'>
    {{ content }}
  </div>
</div>
