---
layout: default
---
<div class='grid_3'>
  <div id='subnavigation'>
    <div id='border'></div>
    <ul>
      <li>
        <a href='/case_studies/mays.html'>Mays Chemical</a>
      </li>
      <li>
        <a href='/case_studies/trine.html'>Trine University</a>
      </li>
      <li>
        <a href='/case_studies/avon.html'>Avon</a>
      </li>
      <li>
        <a href='/case_studies/fmu.html'>Florida Memorial University</a>
      </li>
    </ul>
  </div>
</div>
<div class='grid_9'>
  <div id='content'>
    <div id='case_study'>
      {{ content }}
    </div>
  </div>
</div>
