---
layout: about
---

#advisory_board

  %h1 Advisory Board

  %h2
    Edwin J. Rigaud
    %br/
    Co-Director, Taft Business Consulting LLC

  %img{ :src => "/images/advisory_board/edwin_rigaud.jpg" }

  %p
    EDWIN J. RIGAUD is president and CEO of Enova Premier, LLC, automotive
    product supply and services.  He is also a co-director of Taft Business
    Consulting LLC.  Rigaud retired from Procter and Gamble in 2001 after 36
    years of service. In 1998 he became president and CEO of the National
    Underground Railroad Freedom Center as an "Executive on-loan" from Procter
    &amp; Gamble. He received his undergraduate degree in chemistry from Xavier
    University of Louisiana, master's degree from the University of Cincinnati
    and an Advanced Management Program Certificate from Harvard Business
    School. Rigaud has received honorary doctorate degrees from Xavier
    University of Cincinnati, Hebrew Union College, Northern Kentucky
    University, and the College of Mount St. Joseph. Rigaud is currently the
    member of several boards, including the National Undergroud Railroad
    Freedom Center (Honorary Chairman), the Williams College of Business at
    Xavier University in Cincinnati, and the UC Physicians at the University of
    Cincinnati Medical College. He is a past member of the National Museum and
    Library Services Board, appointed by President Bush in 2002. Rigaud is a
    former Member of the Board of Directors for the Federal Reserve Bank of
    Cleveland and a former member of the Ohio Board of Regents. In addition, he
    has been a member of the Board of Directors of many organizations,
    including Cincinnati Children's Hospital, the Cincinnati Zoo, the Queen
    City Club, Metropolitan Club and Knowledge Funding Ohio (an affiliate of
    the KnowledgeWorks Foundation).

  %h2
    Carl Satterwhite
    %br/
    President, RCF Group

  %img{ :src => "/images/advisory_board/carl_satterwhite.jpg" }

  %p
    Carl Satterwhite is the President of the RCF Group. RCF provides a wide
    range of products and services nationally and internationally for clients
    such as: The Procter and Gamble Company, MetLife Insurance, Western
    Southern Financial Group, Johnson Controls, 5th 3rd Bank and Children's
    Hospital Medical Center just to name a few. 

  %p
    RCF is a National Minority Supplier Development Council Corporate Plus
    Member, one of less than 100 minority businesses endorsed by the NMSDC.  

  %p
    A recent NMSDC Northeast Regional Corporation of the year recipient and two
    time South Central Ohio Minority Supplier Develop Council Corporation of
    the year.  Prior to establishing RCF, Carl spent 15 years with the Procter
    and Gamble Company in various roles of increasing responsibilities. He has
    broad experience in all aspects of facility management including furniture,
    warehousing, asset management, commercial moving services and workplace
    services. 

  %p
    Carl is also a board of trustee member of numerous professional
    organizations including: The United Way of Cincinnati, USA Regional
    Chamber, The Boy Scouts, Downtown Cincinnati Incorporated (DCI), South
    Central Ohio Minority Supplier Development Council and the African American
    Chamber of Commerce.  He is an Ohio Commodore, an Ohio Ambassador and the
    Minority Business Enterprise Input Committee Vice President for Cincinnati.  

  %p
    He is the founder and host of Executive Straight Talk, a minority CEO
    roundtable for established minority corporations in Cincinnati, Dayton, and
    Columbus. Chair of the Herbert R. Brown Society and co-Chair of the
    Leadership Advisory Council .

  %p
    He is married to his high school sweet heart of 28 years Dawn a recent two
    time graduate of Cincinnati Christian University.  They have two sons
    Cameron 25 and Brice 18 a high school student athletic at Cincinnati
    Christian School. 
