---
layout: about
---

%h1 Innovative is not just a part of our name&hellip;It is what we do.

%p
  Our philosophy is that prepaid cards serve different purposes for different
  consumers. Our strategy is to develop prepaid product innovations and
  technological applications that have brand visibility and the ability to
  capture untapped segments of the electronic payments market.

%h2 Technology

%p
  Innovative Card Solution's proprietary prepaid technology platform is the
  backbone of our business. Our platform was custom-built to support our
  in-house prepaid card programs as well as those of other financial service
  companies and strategic corporate partners.

%h2 Financial Literacy

%p
  :erb
    Our financial literacy program is an interactive online course designed to
    help consumers and employees learn about managing money through an
    <b>engaging multimedia experience</b>.

%h2 Money Management

%p
  :erb
    Our prepaid card programs are integrated with online money management tools
    and messaging alerts that help consumers learn to <b>manage their money
    more effectively</b>. These tools are designed to help set monthly budgets
    and to financially track budget vs. actual spend on their prepaid card.

%h2 Marketing

%p
  :erb
    ICS <b>delivers turnkey prepaid solutions that are fully</b> integrated
    with your brand. We offer </b>cost-effective and complimentary marketing
    support including</b> brand strategy, design, distribution, and fulfillment
    services. In addition, your branded prepaid card acts as a mini-billboard
    for your business each time a consumer or employee uses it.
