---
layout: about
---

%h1 Innovative is not just a part of our name. It is what we do.

%p
  Our philosophy is that prepaid cards serve different purposes for different
  consumers. Our strategy is to develop prepaid product innovations and
  technological applications that have brand visibility and the ability to
  capture untapped segments of the electronic payments market.

%h2 Technology

%p
  Innovative Card Solution's proprietary prepaid technology platform is the
  backbone of our business. Our platform was custom-built from the ground up
  for the express purpose of our in-house prepaid card programs and also to
  license our technology to financial institutions and other prepaid card
  program managers.

%h2 Financial Literacy

%p
  Our financial literacy program is an interactive online course designed for
  consumers to learn about managing money in a controlled-based learning model
  that offers easy access to detailed textual resources, printable downloads,
  financial calculators, and other resources 

%h2 Money Management

%p
  Our prepaid card programs are fully integrated with online money management
  tools and messaging alerts that help consumers learn to manage their money
  more effectively. These tools are designed to help consumers to set monthly
  budgets and to financially track budget vs. actual spend on their prepaid
  card.

%h2 Marketing

%p
  ICS delivers turnkey prepaid solutions that are fully integrated with your
  brand. We offer cost effective and complimentary marketing support including
  design, distribution, and fulfillment services.

%p
  In addition, your branded prepaid card solution acts as a mini-billboard for
  your business each time a consumer or employee uses it.
