---
layout: about
---

%p
  %b FOR IMMEDIATE RELEASE

%h1 CincyTech invests in financial services firm  

%h2
  Innovative Card Solutions provides prepaid MasterCard cards as well as
  financial literacy education.
 
%p
  :erb
    <b>CINCINNATI (Aug. 15, 2011)</b> &mdash; CincyTech has invested $250,000
    in Innovative Card Solutions (ICS), founded by brothers Wyatt and Wade
    Goins, which provides reloadable, prepaid MasterCard cards along with
    online financial literacy courses and money management tools for
    corporations and universities. 

%p
  The company has a dual market: corporations that want to provide direct
  payroll deposit to employees who don't have bank accounts, and universities
  whose students need a convenient way to manage their money and access tuition
  refunds. 

%p
  Innovative Card Solutions helps these employees and students manage their
  money more effectively as well. The company has created a host of financial
  literacy "training modules" &mdash; 23 so far &mdash; on subjects such as
  monthly budgeting, understanding your credit scores, avoiding identity theft
  and managing college loans. It also provides mobile messaging alerts and
  other money-management tools.

%p
  About 70 million people in the U.S. do not use banks, and ICS was founded in
  part "to teach financial literacy and provide underserved consumers a safe,
  convenient way of making purchases, paying bills and getting cash," said Wade
  Goins, chief marketing officer.

%p
  "Our prepaid cards allow our clients to provide their employees and students
  with an easy-to-use alternative to credit cards, traditional banking, and
  check-cashing services &mdash; without the worry of going into debt,
  overdrawing an account, or incurring costly fees," he said.

%p
  <a href="http://www.cincytechusa.com/">CincyTech</a> CTO-in-residence Rahul
  Bawa says ICS also solves a problem for companies whose employees don't have
  bank accounts by allowing employees to receive their pay directly on payroll
  cards, without the traditional overhead costs of issuing checks.

%p
  In addition to the CincyTech investment, two individual investors contributed
  an undisclosed amount in the financing round. 

%p
  "We invested in ICS at a good time. It has already passed some of the
  barriers to entry in this market, has great business partners in place, has
  worked out the regulatory issues, and has a strong technology platform," Bawa
  said.

%p
  Innovative Card Solutions has agreements with Urbana University, University
  of Evansville, Florida Memorial University, Trine University and Wilmington
  College to provide the service to their students, beginning this fall. ICS is
  working with a variety of staffing firms and payroll companies to provide
  payroll card solutions for their employees.


%h3 About Innovative Card Solutions

%p
  Innovative Card Solutions LLC is an independent, privately held,
  minority-owned corporation with offices in Cincinnati (headquarters) and
  Chicago. ICS powers the development and delivery of unique prepaid card
  programs and technology platforms, which are at the forefront of the
  electronic payments market and teach financial literacy, reduce costs, drive
  efficiencies and enhance brand awareness. ICS has formed strategic
  relationships with MasterCard, FIS, and The Bancorp Bank.


%h3 About CincyTech

%p
  CincyTech is a public-private venture development organization that invests
  in startup businesses in high-tech industries in Southwest Ohio. With
  substantial support from Ohio Third Frontier and corporations, foundations,
  civic organizations and individuals here, it is stimulating the growth of
  venture-worthy companies in information technology, bioscience and advanced
  manufacturing. 

%p
  %b CONTACT:

%p
  :erb
    <b>Wade Goins</b><br />
    Chief Marketing Officer, Innovative Card Solutions<br />
    (513) 742-9645 x101<br />
    <a href="mailto:wade@weareics.com">wade@weareics.com</a><br />

%p
  :erb
    <b>Carolyn Pione Micheli</b><br />
    communications director, CincyTech<br />
    513-263-2728<br />
    <a href="mailto:cpione@cincytechusa.com">cpione@cincytechusa.com</a>

