---
layout: about
---

%h1 More than just a prepaid card

%p
  :erb
    Innovative Card Solutions ("ICS") delivers unique prepaid card programs and
    technology platforms that are at the forefront of the electronic payments
    market evolution and dramatically <b>improve existing payment
    processes</b>.

%p
  :erb
    Our prepaid card not only provides consumers a safe and convenient way to
    make purchases, pay bills and get cash &mdash; <b>It provides</b> our
    clients with prepaid solutions that offer financial literacy education,
    money management tools, eliminates the cost of processing paper checks,
    streamlines delivery of payments and allows full integration with their
    brands.

%p
  :erb
    Innovative Card Solutions is a leading electronic payments technology
    company offering comprehensive prepaid solutions for corporations,
    universities, financial institutions, non-profit organizations and
    government agencies.
