---
layout: about
---

%h1 More than just a prepaid card

%p
  Innovative Card Solutions is an electronic payments technology company
  offering comprehensive prepaid solutions that improve existing payment
  processes for corporations, universities, financial institutions and
  government agencies.

%p
  We provide our clients with prepaid solutions that teach financial literacy
  while providing consumers a safe, convenient way to make purchases, as well
  as eliminate the cost of processing paper checks, streamline delivery of
  payments, and allow integration with complete brand recognition.
