---
layout: about
---

#partners

  %h1 Strategic partners. Global leaders.

  %p
    Innovative Card Solutions has formed partnerships with some of the most
    exciting technology companies in the electronic payments industry to provide
    card management, processing and customer support for our unique suite of
    prepaid card programs.


  %img{ :src => "/images/partners/mastercard.png" }

  %h2 Mastercard International, Incorporated

  %p
    MasterCard Worldwide advances global commerce by providing a critical
    economic link among financial institutions, businesses, cardholders and
    merchants worldwide. As a franchisor, processor and advisor, MasterCard
    develops and markets payment solutions, processes more than 18 billion
    transactions each year and provides industry-leading analysis and consulting
    services to financial institution customers and merchants. Through its family
    of brands, including MasterCard&reg; Maestro&reg; and Cirrus&reg; MasterCard
    serves consumers and businesses in more than 210 countries and territories.


  %img{ :src => "/images/partners/fis.png" }

  %h2 Fidelity Information Services (FIS)

  %p
    FIS delivers banking and payments technologies to more than 14,000 financial
    institutions and businesses in more than 90 countries worldwide. FIS provides
    financial institution core processing and card issuer and transaction
    processing services, including the NYCE Network. FIS maintains processing and
    technology relationships with 40 of the top 50 global banks, including nine
    of the top 10. Headquartered in Jacksonville, Fla., FIS employs approximately
    30,000 on a global basis.


  %img{ :src => "/images/partners/bancorp.png" }

  %h2 Bancorp Payment Solutions Group

  %p
    The Bancorp Payment Solutions Group, a division of The Bancorp Bank
    ("Bancorp"), a wholly owned subsidiary of The Bancorp, Inc. (Nasdaq: TBBK),
    offers secure, creative and innovative payment solutions to the prepaid card
    industry. As a leading issuer of prepaid cards, The Bancorp Payment Solutions
    Group contributes to the success of Fortune 500 companies through the
    development of cutting-edge prepaid card programs that meet the rapidly
    changing needs of the prepaid industry. Through long-standing relationships
    with the MasterCard, Visa, and Discover card associations, leading program
    managers and processors, The Bancorp Payment Solutions Group designs
    innovative and flexible prepaid card programs which deliver outstanding
    results.


  %img{ :src => "/images/partners/cincytech.png" }

  %h2 CincyTech

  %p
    CincyTech is a public-private venture development organization that invests
    in startup businesses in high-tech industries in Southwest Ohio. With
    substantial support from Ohio Third Frontier and corporations, foundations,
    civic organizations and individuals here, it is stimulating the growth of
    venture-worthy companies in information technology, bioscience and advanced
    manufacturing.
