---
layout: about
---

%h1 Partners

%p
  ICS has selected a unique set of partners, dedicated to the technology of
  electronic payments in providing card management solutions, processing, and
  customer support as part the dynamic suite of prepaid card programs.

%h2 BANCORP PAYMENT SOLUTIONS GROUP

%p
  The Payment Solutions Group is a division of The Bancorp Bank ("Bancorp"), a
  wholly owned subsidiary of The Bancorp, Inc., is a leading issuer of network
  branded prepaid cards and has consistently delivered outstanding results for
  its program partners. Long-standing relationships with card associations and
  industry leading networks and processors are the key to the organization's
  success.

%h2 FIDELITY INFORMATION SERVICES (FIS)

%p
  FIS delivers banking and payments technologies to more than 14,000 financial
  institutions and businesses in more than 90 countries worldwide. FIS provides
  financial institution core processing, and card issuer and transaction
  processing services, including the NYCE Network. FIS maintains processing and
  technology relationships with 40 of the top 50 global banks, including nine
  of the top 10. Headquartered in Jacksonville, Fla., FIS employs approximately
  30,000 on a global basis.

%h2 MASTERCARD INTERNATIONAL, INCORPORATED

%p
  MasterCard Worldwide advances global commerce by providing a critical
  economic link among financial institutions, businesses, cardholders and
  merchants worldwide. As a franchisor, processor and advisor, MasterCard
  develops and markets payment solutions, processes more than 18 billion
  transactions each year, and provides industry-leading analysis and consulting
  services to financial institution customers and merchants. Through its family
  of brands, including MasterCard®, Maestro® and Cirrus®, MasterCard serves
  consumers and businesses in more than 210 countries and territories.

%h2 CINCYTECH

%p
  CincyTech is a public-private venture development organization that invests
  in startup businesses in high-tech industries in Southwest Ohio. With
  substantial support from Ohio Third Frontier and corporations, foundations,
  civic organizations and individuals here, it is stimulating the growth of
  venture-worthy companies in information technology, bioscience and advanced
  manufacturing.
