---
layout: about
---

%h1 Leadership Team

%h1 Experience at work.

%p
  ICS's leaders have extensive experience in the financial services,
  technology, distribution, product development and marketing industries. The
  management team is leading a company that is driven to take prepaid
  technology into new areas to be explored and developed.


%h2 William G. Mays, Chairman

%p
  William Mays is President of Mays Chemical Co., headquartered in
  Indianapolis, Ind.  Chemical has more than $200 million in annual sales and
  more than 190 employees, with facilities in Indianapolis, Chicago, Detroit,
  Cincinnati, Canada and Puerto Rico.

%p
  Mays Chemical has clients such as Eli Lilly, Abbott, DaimlerChrysler, Ford
  Motor, General Mills, General Motors, Kellogg U.S.A., Kraft Foods, Pharmacia,
  Philip Morris and Procter and Gamble. Mays Chemical has won numerous awards
  for excellence including the General Motors Outstanding Supplier of the Year
  award, given to the one percent of their top suppliers worldwide.

%p
  Mr. Mays serves on a wide variety of for-profit and non-profit boards and
  organizations. Currently he serves as a director of the boards of Anthem
  Insurance, Inc.; Bank One, Indiana; Indiana State Chamber of Commerce;
  Indiana University Foundation and Indiana University President's Council;
  Indianapolis Chamber of Commerce; National Minority Supplier Development
  Council; National Urban League and United Way of Central Indiana. He is also
  involved with the National Commission on Entrepreneurship; United Negro
  College Fund; the National Alumni Giving Drive for the Consortium for
  Graduate Study in Management; and is co-chair of the annual Coca-Cola Circle
  City Classic.

%p
  Mr. Mays received his B.A. in chemistry and master's degree in business
  administration from Indiana University. He has received three honorary
  doctorates.


%h2 Rahul Bawa, Advisor

%p
  Bawa guides the overall vision of the company and directs all aspects of an
  organization's policies, objectives, and responsible for the short- and
  long-term profitability and growth of the company.

%p
  Bawa served for seven years as chief information officer at Axcess Financial
  Services. Before that, he spent three years at Fifth Third Bank as vice
  president of eBusiness. From 1998-2001, he served as vice president and
  principal at Xpedior. And he was manager of information technology for United
  Airlines in Chicago for three years. He received his bachelor's in
  information systems from the University of Cincinnati in 1989.


%h2 Mathew B. Murphy III, Chief Financial Officer

%p
  Serving as Chief Financial Officer for Innovative Card Solutions, Matt
  oversees various financial and budget analyses in the areas of account
  reconciliation, revenue forecasting, capital expenditures, and a wide variety
  of accounting and statistical data and reports.

%p
  Murphy is also the Director of Finance and Administration for Mays Chemical
  Co., Inc., one of the nation's largest chemical distributor. As a key member
  of its Senior Management Team, Murphy directs the administrative functions of
  the company's ongoing acquisition and strategic planning efforts.
  Additionally, he provides daily financial oversight and management of the
  vast investment interests of the company's owner, William G. Mays.

%p
  Prior to joining Mays Chemical in 1996, he served as Senior Vice President of
  Corporate Lending, Marketing, and Business Development at Huntington Bank, in
  addition to being a member of its Senior Loan Committee. He held similar
  positions in Commercial Lending at both Merchants National Bank and Midwest
  National Bank. 

%p
  In June 2005, Indiana Gov. Mitch Daniels announced  Murphy's appointment to
  the Board of Trustees of the Public Employee's Retirement Fund of Indiana,
  the state's largest public pension fund with assets in excess of $16 billion. 

%p
  He received a bachelor's of science in 1980 from Indiana University,
  Bloomington, majoring in Management &amp; Administration and with a minor in
  Finance at the Kelley School of Business.


%h2 Wyatt Goins, Chief Operations Officer

%p
  As Chief Operations Officer for Innovative Card Solutions, Goins oversees
  day-to-day business operations, policies, objectives, and initiatives of the
  organization to ensure future growth. He is also responsible for the
  attainment of short- and long-term financial and operational goals.

%p
  Prior to founding Innovative Card Solutions, Goins spent 16 years in
  marketing as a Managing Director for many high-profile customers including
  Fifth Third Bank, Sara Lee, Limitedbrands, Cincinnati Bell and International
  Paper. 

%p
  Goins received a bachelor's in Business Administration and Marketing from
  Urbana University.


%h2 Jeff Marsh, Chief Product Officer

%p
  Marsh manages and oversees all IT operations, including the real-time card
  authorization infrastructure and customer web access portals.

%p
  Prior to joining ICS, Marsh played an integral role in the launch of over 20
  custom card programs during his career by means of establishing and managing
  various Relationship Management, Project Management, and Card Solutions
  teams.


%h2 Wade Goins, Chief Marketing Officer

%p
  Goins plans and directs the organization's marketing policies, objectives,
  and initiatives. He conducts market research and develops marketing plans for
  specific products, services, and business lines as well as reviewing changes
  to the marketplace and industry and adjusting marketing plans accordingly. 

%p
  Prior to joining Innovative Card Solutions, Goins  initiated and implemented
  a wide range of fully integrated, award-winning campaigns over the past 16
  years as a creative director for clients including Provident Bank, the
  University of Cincinnati, Toyota, Procter &amp; Gamble, Wendy's and The
  Kroger Co.

%p
  Goins received a bachelor's of science in Business Administration and
  Marketing from Urbana University.
