---
layout: about
---

%h1 Leadership Team

%p
  ICS's leaders are experienced professionals with diverse backgrounds in the
  financial services, technology, distribution, product development and
  marketing industry sectors.  The management team is leading a company that is
  excited about extending the reach of plastic into new areas to be explored
  and developed.

%h2 William G. Mays, Chairman

%p
  Serving as Chairman of Innovative Card Solutions, William Mays is President
  of Mays Chemical Company, headquartered in Indianapolis, Indiana.  Mays
  Chemical has over $200 million in sales and more than 190 employees, with
  facilities in Indianapolis, Chicago, Detroit, Cincinnati, Canada and Puerto
  Rico.  The 21-year-old company is a fully integrated chemical distributor
  offering chemicals and other related raw materials, cleaning and sanitation
  products, outsourcing services, consolidation and materials management
  programs.

%p
  Mays Chemical has proven capable of doing business on a national basis with
  clients such as Eli Lilly, Abbott, DaimlerChrysler, Ford Motor, General
  Mills, General Motors, Kellogg U.S.A., Kraft Foods, Pharmacia, Philip Morris
  and Procter and Gamble. Mays Chemical has won numerous awards for excellence
  including the General Motors Outstanding Supplier of the Year award, given to
  the one percent of their top suppliers worldwide. 

%p
  Mr. Mays serves on a wide variety of for-profit and non-profit boards and
  organizations.  Currently he serves as a director of the boards of Anthem
  Insurance, Inc.; Bank One, Indiana; Indiana State Chamber of Commerce;
  Indiana University Foundation and Indiana University President's Council;
  Indianapolis Chamber of Commerce; National Minority Supplier Development
  Council; National Urban League and United Way of Central Indiana.  He is also
  involved with the National Commission on Entrepreneurship; United Negro
  College Fund; the National Alumni Giving Drive for the Consortium for
  Graduate Study in Management; and is co-chair of the annual Coca-Cola Circle
  City Classic.  The list of honors and awards for Mr. Mays is lengthy.

%p
  William G. Mays received his B.A. in chemistry and master's degree in
  business administration from Indiana University.  He has received three
  honorary doctorates.

%h2 Damon A. Goins, President and CEO

%p
  As Chief Executive Officer for Innovative Card Solution, LLC, Damon guides
  the overall vision of the company and directs all aspects of an
  organization's policies, objectives, and responsible for the short- and
  long-term profitability and growth of the company. 

%p
  Prior to Innovative Card Solutions, Damon was a Certified IT Project Manager
  (PMP) with IBM. For over two decades, Damon has had extensive experience in
  managing the information technology and processing systems for companies such
  as Electronic Data Systems (EDS), Xerox Corporation, as well as a consulting
  position with International Business Systems (IBM) Global Services Division.
  His accomplishments include the management of datacenter migrations and the
  Enterprise Resource Planning software for major clients including Sony
  Electronics, AT&amp;T, Wisconsin Power and Light and a host of others.

%p
  Damon received a B.S. Degree in Computer Science and Information Technology
  from Kentucky State University.

%h2 Mathew B. Murphy III, Chief Financial Officer

%p
  Serving as Chief Financial Officer for Innovative Card Solutions, Matt is the
  Director of Finance and Administration for Mays Chemical Company, Inc., one
  of the nation's largest chemical distributor. As a key member of its Senior
  Management Team, Mr. Murphy directs the administrative functions of the
  company's ongoing acquisition and strategic planning efforts. Additionally,
  Matt provides daily financial oversight and management of the vast investment
  interests of the company's owner, William G. Mays.

%p
  Prior to joining Mays Chemical in 1996 Matt served as Senior Vice President
  of Corporate Lending, Marketing, and Business Development at Huntington Bank,
  in addition to being a member of its Senior Loan Committee. He held similar
  positions in Commercial Lending at both Merchants National Bank and Midwest
  National Bank. During his 15-year tenure in the banking industry, he
  developed an extensive resume of financial expertise. Matt is a founding
  member and past treasurer of Indianapolis Urban Bankers; an appointee of the
  Lynx Capital Corporation Investment Committee.

%p
  In June 2005, Governor Mitch Daniels announced Matt's appointment to the
  Board of Trustees of the Public Employee's Retirement Fund of Indiana, the
  state's largest public pension fund with assets in excess of $16 Billion.
  Admirable appointments by preceding Indiana Governors include; Director of
  the Indiana Health Facility Financing Authority, and appointment as Chairman
  & Trustee of the Indiana State Teacher's Retirement Fund, the state's second
  largest public pension fund.

%p
  Matt received a B.S. Degree in 1980 from Indiana University, Bloomington,
  majoring in Management &amp; Administration and with a minor in Finance at
  the Kelley School of Business.

%h2 Wyatt Goins, Chief Operations Officer 

%p
  As Chief Operations Officer for Innovative Card Solutions, Wyatt oversees
  day-to-day business operations, policies, objectives, and initiatives of the
  organization to ensure future growth. He is also responsible for the
  attainment of short- and long-term financial and operational goals.

%p
  Prior to joining Innovative Card Solutions, Wyatt's career reflects 16 years
  of extensive marketing experience as a Managing Director for many
  high-profile customers including Fifth Third Bank, Sara Lee, Limitedbrands,
  Cincinnati Bell and International Paper. 

%p
  Wyatt received a B.S. Degree in Business Administration and Marketing from
  Urbana University.

%h2 Jeff Marsh, Chief Technology Officer

%p
  Jeff currently serves as the Chief Technology Officer for Innovative Card
  Solutions.  As Chief Technology Officer, Jeff manages and oversees all IT
  operations, including the real-time card authorization infrastructure and
  customer web access portals.

%p
  Prior to joining ICS, Jeff played an integral role in the launch of over 20
  custom card programs during her career by means of establishing and managing
  various Relationship Management, Project Management, and Card Solutions
  teams. 

%p
  Jeff holds a B.S. in Accounting from the University of Akron and an MBA from
  Xavier University.

%h2 Wade Goins, Chief Marketing Officer

%p
  Wade serves a Chief Marketing Officer for Innovative Card Solutions. Wade
  plans and directs the organization's marketing policies, objectives, and
  initiatives. Conducts market research and develops marketing plans for
  specific products, services, or business lines. As well as, review changes to
  the marketplace and industry and adjusts marketing plan accordingly. 

%p
  Prior to joining Innovative Card Solutions, Wade initiated and implemented a
  wide range of fully integrated, award-winning campaigns over the past 16 year
  as a Creative Director for clients including Provident Bank, University of
  Cincinnati, Toyota, Procter &amp; Gamble, Wendy's and The Kroger Co.

%p
  Wade received a Bachelor of Science in Business Administration and Marketing
  from Urbana University.

%h2 Chad Hendry, Chief Officer of the Interwebs

%p
  Chad currently serves as Chief Officer of the Interwebs for Innovative Card
  Solutions.  Chad writes the tests and makes them pass.  When he's not doing
  that, he likes reading, listening the Grateful Dead, and taking care of his
  two fish: Tammy and Brie.  Tammy is a Royal Gramma, and Brie is a Tomato
  Clownfish.

%p
  Chad received his Official Notice of Academic Probation from the University
  of Nebraska, Lincoln, in 2001.
