:plain
  ---
  layout: default
  ---

.grid_3

  #subnavigation
    .title Case Studies
    %ul
      %li
        %a{ :href => '/case_studies/fmu.html' } Florida Memorial University
      %li
        %a{ :href => '/case_studies/avon.html' } Avon
      %li
        %a{ :href => '/case_studies/trine.html' } Trine University
      %li
        %a{ :href => '/case_studies/mays.html' } Mays

.grid_9

  #content

    :plain
      {{ content }}
