:plain
  ---
  layout: default
  ---

.grid_3

  #subnavigation
    #border

    %ul
      %li
        %a{ :href => '/case_studies/mays.html' } Mays
      %li
        %a{ :href => '/case_studies/trine.html' } Trine University
      %li
        %a{ :href => '/case_studies/avon.html' } Avon
      %li
        %a{ :href => '/case_studies/fmu.html' } Florida Memorial University

.grid_9

  #content

    #case_study

      :plain
        {{ content }}
