:plain
  ---
  layout: default
  ---

.grid_3

  #subnavigation
    %ul
      %li
        %a{ :href => '/compensation/payroll.html' } Payroll
      %li
        %a{ :href => '/compensation/employee_bonus.html' } Employee Bonus
      %li
        %a{ :href => '/compensation/sales_incentive.html' } Sales Incentive
      %li
        %a{ :href => '/compensation/health_incentive.html' } Health Incentive

.grid_9

  #content

    :plain
      {{ content }}
