:plain
  ---
  layout: default
  ---

.grid_3

  #subnavigation
    #border

    %ul
      %li
        %a{ :href => '/compensation/payroll.html' } Payroll
      %li
        %a{ :href => '/compensation/reimbursements.html' } Reimbursements
      %li
        %a{ :href => '/compensation/employee_incentive.html' } Employee Incentive

.grid_9

  #content

    :plain
      {{ content }}
