:plain
  ---
  layout: default
  ---

.grid_3

  #subnavigation
    #border
    %ul
      %li
        %a{ :href => '/promotions/gift_cards.html' } Gift Cards
      %li
        %a{ :href => '/promotions/clinical.html' } Clinical and Market Research Incentives
      %li
        %a{ :href => '/promotions/consumer.html' } Consumer Incentive and Rebates
      %li
        %a{ :href => '/promotions/fundraising.html' } Fundraising

.grid_9

  #content

    :plain
      {{ content }}
