body {
  color: #999999;
  font-family: sans-serif;
  font-size: 90%; }

h1, h2 {
  font-weight: normal;
  margin-bottom: 1em; }

h1 {
  color: #0a4193;
  font-size: 1.3em;
  margin-bottom: 1em;
  margin-top: 0; }

h2 {
  color: #555555;
  font-size: 1.1em;
  margin-top: 1.2em;
  margin-bottom: 0.5em; }

p {
  margin-bottom: 1em;
  color: #999999;
  line-height: 1.8em; }

a {
  color: #0a4193;
  text-decoration: none; }

#header {
  margin-top: 25px; }
  #header #logo {
    width: 260px;
    height: 51px;
    padding: 20px;
    border-right: 1px solid #bbbbbb; }
  #header #tagline {
    font-size: 1.1em;
    margin-top: 45px;
    margin-left: 20px; }

#navigation, #subnavigation {
  font-size: 0.9em; }
  #navigation a, #subnavigation a {
    color: #bbbbbb; }
    #navigation a.selected, #navigation a:hover, #subnavigation a.selected, #subnavigation a:hover {
      color: #0a4193; }

#navigation {
  margin: 15px 0 40px 0;
  border-top: 1px solid #bbbbbb;
  padding-top: 15px; }
  #navigation a {
    text-transform: uppercase; }
  #navigation table {
    width: 100%; }
    #navigation table td {
      text-align: center; }

#subnavigation #border {
  display: block;
  float: right;
  margin: -15px 20px 0 10px;
  width: 1px;
  height: 300px;
  border-right: 1px solid #bbbbbb; }
#subnavigation li {
  list-style-type: none;
  margin-bottom: 20px; }

#banners {
  margin-bottom: 20px; }
  #banners #images {
    width: 940px;
    height: 365px; }
    #banners #images .banner {
      display: none; }
  #banners #dots {
    float: right;
    padding-top: 5px; }
    #banners #dots .dot {
      float: left;
      margin-left: 5px;
      width: 16px;
      height: 16px;
      background: url(/images/banners/dots/off.png); }
      #banners #dots .dot.selected {
        background: url(/images/banners/dots/on.png); }

#columns .column .border {
  display: block;
  float: right;
  width: 1px;
  height: 200px;
  border-right: 1px solid #bbbbbb;
  margin-left: 10px; }
#columns .column .title, #columns .column .subtitle {
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: bold; }
#columns .column .title {
  text-transform: uppercase;
  color: #0a4193; }
#columns .column .subtitle {
  margin-bottom: 5px;
  color: #555555; }
#columns .column p {
  font-size: 0.9em; }
#columns .column a {
  margin-left: 1em; }
#columns .column img {
  float: right; }

#contact .location .name {
  font-weight: bold; }

#case_study img {
  float: right;
  width: 300px;
  height: 199px;
  margin: 0 0 15px 15px; }

#footer {
  margin-top: 100px; }
  #footer #logos {
    height: 50px; }
    #footer #logos a {
      display: block;
      float: left;
      margin-right: 30px; }
      #footer #logos a.ct {
        margin-top: 10px;
        width: 71px;
        height: 30px;
        background-image: url(/images/footer/ct.png); }
        #footer #logos a.ct:hover {
          background-image: url(/images/footer/ct_color.png); }
      #footer #logos a.pci {
        margin-top: 10px;
        width: 103px;
        height: 31px;
        background-image: url(/images/footer/pci.png); }
        #footer #logos a.pci:hover {
          background-image: url(/images/footer/pci_color.png); }
      #footer #logos a.nmsdc {
        width: 40px;
        height: 50px;
        background-image: url(/images/footer/nmsdc.png); }
        #footer #logos a.nmsdc:hover {
          background-image: url(/images/footer/nmsdc_color.png); }

#copyright {
  text-align: center;
  margin: 30px;
  font-size: 0.75em; }
