---
layout: promotions
---

%h1 Making a positive impact.

%p
  Our consumer incentive and rebate programs are powerful retention tools that
  eliminate the cost and hassle of paper checks and allow you to improve your
  customers’ experience with a prepaid card solution that is integrated with
  your brand.
