---
layout: promotions
---

%h1 Making a positive impact.

%p
  Our consumer incentive and rebate program is a powerful retention tool that
  eliminate the cost and hassle of paper checks, while allowing you to improve
  your customers' experience with a prepaid card solution that is integrated
  with your brand.
