---
layout: promotions
---

%h1 Innovative way to raise money.

%p
  :erb
    <b>This customized prepaid solution provides your members and supports</b>
    a convenient, safe way to make everyday purchases while helping to raise
    funds for your organization.

%p
  Supporters can use their card on everyday purchases from gasoline to
  groceries or paying monthly bills online &mdash; and the more they use their
  card, the more they raise for your organization.
